.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff;
    z-index: 0;
  }
  .cherries{
    background-color: rgb(147, 147, 147);
    color: red;
    grid-column: 2/4;
  }
  .tartsweet {
    padding: 5%;
    position: absolute;
    font-size: 10em;
    text-align: center;
    grid-column: 1/3;
    grid-row: 2;
    z-index: 1;
  }